
<html>
<body>
    <div class="column_w300_section_01 even_color">
        <div class="news_image_wrapper">
            <img src="~/Content/images/us.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">OCT 28, 2048</div>
            <div class="header_04"><a href="#">Nam dictum pellentesque</a></div>
            <p>Nam ultricies cursus enim, non aliquet orci lacinia ac. Etiam lobortis adipiscing.</p>
        </div>
</body>
</html>